<h1>Cliente</h1>

<p>
  <b>Name: </b>
  <%= @customer.name %>
</p>
<p>
  <b>Email: </b>
  <%= @customer.email %>
</p>
<p>
  <b>Smoker: </b>
  <%= @customer.smoker %>
</p>
<p>
  <b>Phone: </b>
  <%= @customer.phone %>
</p>
<%# @customer.name %>